.centerbox {
  /* basic*/
  position: absolute; 
  top: 0px; 
  left: 0px;
  right: 0px;
  bottom: 0px;

  /*shit flexbox*/
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;

  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-pack: center;
  -webkit-flex-align: center;

  display: flex;
  flex-direction: row;
  flex-pack: center;
  justify-content: center;
  flex-align: center;
  align-items: center;
}
#appMsg {
  width: inherit;
  height: initial;
  border: 1px solid;  
  border-radius: 5px;
  text-align: center;
  z-index: 9999;
  display: none;
}
#appMsg.show {
  display: block;
}
#appHead {
  text-align: end;
  background-color: #CCC;
}
#appHead a {
  cursor: pointer;
  margin-right: 10px;
  text-decoration: initial;
  font-size: 21px;  
  font-weight: bold;
}
#appBody {
  padding: 20px;
  font-family: Helvetica, arial, sans-serif;  
  font-size: 14px;
  background-color: rgb(248, 248, 248);
}